;* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-header {
    background-color: #f7ffef;
    height: auto;
    min-width: 100%;

}
.top-nav{
    position: fixed;
}

header {
    min-width: 100vw;
    background: transparent;

}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.logo-image {
    height: 80px;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(79, 78, 78);
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover {
    color: black;
}
.name-color{
 color: rgb(160, 92, 223);
}


.buttn {
    background-color: #f1b8e5;
    padding: 10px 25px;
    border-radius: 30px;
    color: black;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.buttn:hover {
    background-color: #ed84c3;
}
.present{
    color: #6181f5;
}
/*End of top header*/

.left_side{
    overflow-y: scroll;
    background-color: aliceblue;
    height: 100vh;
 }
 
 .left_side li{
     padding: 5px;
     list-style: none;
     transition: 0.4s ease-in-out;
     
 }
 .left_side li:hover{
    background-color: rgb(248, 221, 239);
 }
 .page{
     text-decoration: none;
 }
 #side_link{
     text-decoration: none;
     color: black;
 }
 /* Right Side start here */
 .Right_side{
     overflow-y: scroll;
     height: 100vh;
     margin-right: 0;
 
 }
 .card{
    margin: 50px;
    padding: 10px;
    box-shadow: inset;
 }
 .card_head{
    color: #6181f5;
 }
 .card_link{
    text-decoration: none;
 }
 